<!-- FOOTER SECTION -->
<footer class="footer-div display-f">
     <div class="m-3 p-2 text-hover-orange text-lighten-4">
      <h3>COMPANY</h3>
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/about_us">ABOUT US</a></li>
        <li><a href="/our_services">OUR SERVICES</a></li>
      </ul>
     </div>
     <div class="m-3 p-2 text-hover-orange">
      <h3>USEFUL LINKS</h3>
      <ul>
        <li><a href="/investment_plans">INVESTMENT PLANS</a></li>
        <li><a href="/policy">POLICY</a></li>
      </ul>
     </div>
     <div class="m-3 p-2 text-hover-orange">
      <h3>CERTIFICATE</h3>
      <img width="100px" src="images/Cyclepay.jpg"  alt="">
      </footer>
<div class="m-0 p-3 bg-primary text-hover-orange">
  &copy CYCLEPAY

   <script>
      document.write(new Date().getFullYear())
    </script>
</div>








