 <!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="icon" type="image/x-icon" href="./images/logo.jpg">
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="bootstrap-social.css">
  <link rel="stylesheet" href="css/index.css">
</head>

    <body>

    <!-- navbar -->

        <nav class="navbar p-1 justify-between font-md">
        <div class="container">
        <h1 class="site-title text-hover-orange">cyclePay</h1>
        <ul class="display-f p-3">
            <li class="ml-1 p-2 text-hover-blue"><a href="/">HOME</a></li>
            <li class="ml-1 p-2 text-hover-secondary"><a class="text-dark text-hover-orange"  href="/login">LOGIN</a></li>
            <li class="ml-1 p-2 text-hover-secondary"><a class="text-dark text-hover-orange" href="sign_up">REGISTER</a></li>
        </ul>
        </div>
    </nav>

