     <%- include("partials/headerTwo"); -%>      
          
          <title>cyclePay||About Us</title>
      <body>


 <!-- navbar -->

<header>
<div class="container">

  <h1 class="logo text-hover-blue">CyclePay</h1>
  
  <nav class="site-nav">
      <ul class="pl-3">
        <li><a class="text-hover-blue" href="/"><i class=" site-nav--icon"></i>Home</a></li> 
        <li><a class="text-hover-blue" href="/about_us"><i class=" site-nav--icon"></i>About</a></li>
        <li><a class="text-hover-blue" href="/investment_plans"><i class=" site-nav--icon"></i>Plans</a></li>
        <li><a class="text-hover-blue" href="/our_services"><i class=" site-nav--icon"></i> Services</a></li>
        <li><a class="text-hover-blue"  href="/policy"><i class=" site-nav--icon"></i>Policy</a></li>
        <li class=" text-orange text-hover-blue"><a href="/login"><i class=" site-nav--icon"></i>Login</a></li>
        <li class=" text-orange text-hover-blue" ><a href="/sign_up"><i class=" site-nav--icon"></i>Register</a></li>
      </ul> 
  </nav>
  
  
  <div class="menu-toggle">
    <div class="hamburger"></div>
  </div>
  
</div>

</header>







  
                          <div class=" text-hover-blue p-2 fixed">
                        <a class="chat-us" href="#chat-section"><img  src="images/comments.png" width="5%" alt="">Chat with Us...</a>
                      </div>
                
                          <!-- intro -->
                    <div class="container mt-5">
                      <div class="row justify-center">
                        <div class="col-12-xs col-5-md">
                          <h2>
                            <div class="font-xxl text-hover-orange text-blue">ABOUT CYCLEPAY</div>
                            
                          </h2>
                          <p class="text-gray m-3">Cyclepay is a company registered in the United Kingdom focused for over three years on specialized investments such as stock option, foreign exchange, and crypto currency exchange markets. Cyclepay is in the practice of taking advantage of a price difference between two or more markets striking a combination of matching deals that capitalize upon the imbalance, the profit being the difference between the market price.
                          Cyclepay is present when there is an opportunity to instantaneously buy low and sell high which is one of the attributes that makes Cyclepay one of the most profitable and risk-free companies around the internet. <br><br>


                          Manned by a professional team of Cyclepay seasoned professionals and experts who handle all transactions of our clients in such a way that we are assured of a maximum success rate in terms of profitizing. Our clients also have the opportunity to reinvest their profits resulting in even more aggressive growth, withdrawals being processed within a matter of hours. <br><br>


                          Our mission is to provide every person the opportunity to gain maximal profit from investing at minimal risk and by utilizing several investment pools it allows us to maintain consistent high interest rates for our clients, the insurance and flexibility in investing funds, automated and standard computed systems in both deposit and withdrawal processing. And also ultra-safe and secure transactions being the strongest advantage we have over our competitors. Cyclepay is simply home to both aspiring and expert investors.


                          </p>
                          <a href="#work" class="btn-outlined-orange text-orange text-hover-white">Learn More</a>
                        </div>
                        <div class="col-12-xs p-3 col-5-md">
                          <img src="./images/illustration 1.jpg" alt="">
                        </div>
                      </div>
                    </div>

                              <!-- work section -->
                      <section id="work" class="mt-5">
                      <div class="Container">
                        <h2 class="mb-2">WHY <span class="text-hover-blue text-orange">CYCLEPAY?</span></h2>
                        <div class="row gap-2">
                          <div class="col-12-xs col-6-md col-3-lg">
                            <div class="card p-0">
                              <h3 class="card-title m-1">INCORPORATED COMPANY</h3>
                              <img class="card-img" src="images/article-of-incorporation.png" alt="">
                              <p class="m-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, hic!</p>
                            </div>
                          </div>
                          <div class="col-12-xs col-6-md col-3-lg">
                            <div class="card p-0">
                              <h3 class="card-title m-1">PROFESSIONAL SUPPORT</h3>
                              <img class="card-img" src="images/security-purposes.png" alt="">
                              <p class="m-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, hic!</p>
                            </div>
                          </div>
                          <div class="col-12-xs col-6-md col-3-lg">
                            <div class="card p-0">
                              <h3 class="card-title m-1">COMODO VERIFIED</h3>
                              <img class="card-img" src="images/tick.png" alt="">
                              <p class="m-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, hic!</p>
                            </div>
                          </div>
                          <div class="col-12-xs col-6-md col-3-lg">
                            <div class="card p-0">
                              <h3 class="card-title m-1">EXPERIENCED MANAGEMENT</h3>
                              <img class="card-img" src="images/stakeholder.png" alt="">
                              <p class="m-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, hic!</p>
                            </div>
                          </div>
                        </div>
                        <div class="row gap-2">
                        <div class="col-12-xs col-6-md col-3-lg">
                            <div class="card p-0">
                              <h3 class="card-title m-1">DDOS PROOF</h3>
                              <img class="card-img" src="images/searching.png" alt="">
                              <p class="m-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, hic!</p>
                            </div>
                          </div>
                          <div class="col-12-xs col-6-md col-3-lg">
                            <div class="card p-0">
                              <h3 class="card-title m-1">RELIABILITY</h3>
                              <img class="card-img" src="images/technical-support.png" alt="">
                              <p class="m-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, hic!</p>
                            </div>
                          </div>
                          <div class="col-12-xs col-6-md col-3-lg">
                            <div class="card p-0">
                              <h3 class="card-title m-1">PROFITABILITY</h3>
                              <img class="card-img" src="images/financial-profit.png" alt="">
                              <p class="m-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, hic!</p>
                            </div>
                          </div>
                          <div class="col-12-xs col-6-md col-3-lg">
                            <div class="card p-0">
                              <h3 class="card-title m-1">FLEXIBILITY</h3>
                              <img class="card-img" src="images/agile.png" alt="">
                              <p class="m-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, hic!</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>


                                  
                                  <!-- TESTIMONIAL-SECTION -->
                  <div class="Container">

                    <h2 class="Container m-3">FROM OUR CLIENTS <i></i></h2>

                    <div class="col-12-xs col-6-md col-1-lg">
                            <div class="card p-2 m-3 justify-center">
                              <h3 class="card-title m-1">Johnson Ashley</h3>
                              <img class="card-img" src="" alt="">
                              <p class="m-1">Being an investor with Cyclepay has been great. Support is always responsive and helpful, and best of all I've been able to help many new Bitcoin users get some of their first Bitcoin.</p>
                            </div>
                          </div>

                          <div class="col-12-xs col-6-md col-1-lg">
                            <div class="card p-2 m-3">
                              <h3 class="card-title m-1">Elizabeth Scott</h3>
                              <img class="card-img" src="" alt="">
                              <p class="m-1">CyclePay is my first Bitcoin experience. Started as your regular newbie first time BTC buyer - asking legacy traders what is a wallet and why I need to follow verification steps. Sold over 400+ Bitcoin to date and helped over 800 newbies like myself to dive in to this new currency.</p>
                            </div>
                          </div>

                          <div class="col-12-xs col-6-md col-1-lg">
                            <div class="card p-2 m-3">
                              <h3 class="card-title m-1">Anna Summer</h3>
                              <img class="card-img" src="" alt="">
                              <p class="m-1">I have super slow connectivity and this is a super patient seller. Thank you so much and I appreciate your help I look forward to working with you again!</p>
                            </div>
                          </div>

                          <div class="col-12-xs col-6-md col-1-lg">
                            <div class="card p-2 m-3">
                              <h3 class="card-title m-1">Maurice Cooper</h3>
                              <img class="card-img" src="" alt="">
                              <p class="m-1">Super patient and gets you through step by step. Was my first time purchasing, and I would highly recommend this platform to any newbies like me.</p>
                            </div>
                          </div>
                                  
                 
                     
                      
                         

                      <!-- SPONSORS SECTION -->

                          <div class="sponsor_section bg-grey p-2">
                  <div class="container">
                  <ul id="sponsor_carousel" class="sponsor_items owl-carousel">
                  <li class="sponsor_item">
                  <img  src="images/test-1.png" alt="sponsor-image">
                  </li>
                  <li class="sponsor_item">
                  <img src="images/test-2.png" alt="sponsor-image">
                  </li>
                  <li class="sponsor_item">
                  <img src="images/test-3.png" alt="sponsor-image">
                  </li>
                  <li class="sponsor_item">
                  <img src="images/test-4.png" alt="sponsor-image">
                  </li>
                  <li class="sponsor_item">
                  <img src="images/test-5.png" alt="sponsor-image">
                  </li>
                  <li class="sponsor_item">
                  <img src="images/test-6.png" alt="sponsor-image">
                  </li>
                  <li class="sponsor_item">
                  <img src="images/test-7.png" alt="sponsor-image">
                  </li>
                  <li class="sponsor_item">
                  <img src="images/test-8.png" alt="sponsor-image">
                  </li>
                  </ul>
                  </div>
                  </div><br>

                  <div id="chat-section" style="text-align: center;" class="Container"><h2 class="text-hover-purple">Send us a message:</h2>
               <div class="form-div">
                 <form action="https://formspree.io/f/mlezpnpv" method="post">
                   <label for="first name">First name:</label><br>
                   <input  type="text" id="first name" name="first name"><br><br>
                   <label for="last name">Last name:</label><br>
                   <input type="text" id="last name" name="last name"><br><br>
                   <label for="email">Email:</label><br>
                   <input type="email" name="email" id="email"><br><br>
                   <label for="message">Message</label><br>
                   <textarea name="message" id="message" cols="30" rows="10"></textarea><br><br>
                   <div class="d-grid gap-2 col-4 mx-auto"  >
                   <input id="button-reply" class="btn-outlined-orange text-orange text-hover-white mb-2" type="submit" value="Submit"><br></div>
                </div>
                </form>
              </div></div>
                
                  <%- include("partials/footer"); -%> 

                 
                  

                      
                              <!-- JQUERY LINK -->
                      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                      <!-- CAROUSEL JS -->
                      <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                      <script type="text/javascript">
                          $('.owl-carousel').owlCarousel({
                      loop:true,
                      margin:5,
                      autoplay:true,
                      autoplayingTimeout: 1000,
                      responsive:{
                          0:{
                              items:3
                          },
                          600:{
                              items:3
                          },
                          1000:{
                              items:3
                          },
                          1400:{
                              items: 3
                          }
                      }
                  })
                      </script>

                      <script type="text/javascript">
                          $('.sponsor_section').owlCarousel({
                      loop:true,
                      margin:10,
                      autoplay:true,
                      autoplayingTimeout: 1000,
                      // animateIn: "fadeIn",
                      // animateOut: "fadeOut",
                      responsive:{
                          0:{
                              sponsor_item:1
                          },
                          600:{
                              sponsor_items:1
                          },
                          1000:{
                              sponsor_items:1
                          },
                          1400:{
                              sponsor_items: 5
                          }
                      }
                  })

                  </script>

                  <script>
    $('.menu-toggle').click(function() {
  
  $('.site-nav').toggleClass('site-nav--open', 500);
  $(this).toggleClass('open');
  
   })
   </script>

   <script>
    $("#button-reply").click(function(){
      swal("Thanks for reaching out!", "Cyclepay replies within 24hrs, we will get back to you shortly!", "success");
    })
   </script>
                      
                  </body>
                  </html>