<%- include("partials/header"); -%> 

<body>

  <!-- navbar -->

<header>
<div class="container">

  <h1 class="logo">CyclePay</h1>
  
  <nav class="site-nav">
      <ul>
        <li><a href="/"><i class=" site-nav--icon"></i>Home</a></li> 
        <li><a href="/about_us"><i class=" site-nav--icon"></i>About</a></li>
        <li><a href="/investment_plans"><i class=" site-nav--icon"></i>Plans</a></li>
        <li><a href="/our_services"><i class=" site-nav--icon"></i> Services</a></li>
        <li><a href="/policy"><i class=" site-nav--icon"></i>Policy</a></li>
        <li><a href="/login"><i class=" site-nav--icon"></i>Login</a></li>
        <li><a href="/sign_up"><i class=" site-nav--icon"></i>Register</a></li>
      </ul> 
  </nav>
  
  <div class="menu-toggle">
    <div class="hamburger"></div>
  </div>
  
</div>

</header>






  <!-- CAROUSEL-SECTION -->

                <!-- Hero Slider -->
<div id="home" class="hero-slider owl-carousel owl-theme">
    <div class="single-hs-item item-bg1">
        <div class="d-table">
            <div class="d-tablecell">
                <div class="hero-text">
                    <h1>Animation Slider</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                    <div class="slider-btn">
                     <a  href="#" class=" btn-outlined-orange text-orange text-hover-white">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-hs-item item-bg2">
        <div class="d-table">
            <div class="d-tablecell">
                <div class="hero-text">
                    <h1></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                    <div class="slider-btn">
                        <a href="#" class=" btn-outlined-orange text-orange text-hover-white mr-30">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-hs-item item-bg3">
        <div class="d-table">
            <div class="d-tablecell">
                <div class="hero-text">
                    <h1>Animation Slider</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                    <div class="slider-btn">
                        <a href="#" class="btn-outlined-orange text-orange text-hover-white mr-30">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="single-hs-item item-bg4">
        <div class="d-table">
            <div class="d-tablecell">
                <div class="hero-text">
                    <h1>Animation Slider</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                    <div class="slider-btn">
                        <a href="#" class=" btn-outlined-orange text-orange text-hover-white mr-30">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
         
    </div>

    <div class="single-hs-item item-bg5">
        <div class="d-table">
            <div class="d-tablecell">
                <div class="hero-text">
                    <h1>Animation Slider</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                    <div class="slider-btn">
                        <a href="#" class=" btn-outlined-orange text-orange text-hover-white mr-30">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
         
    </div>

    <div class="single-hs-item item-bg6">
        <div class="d-table">
            <div class="d-tablecell">
                <div class="hero-text">
                    <h1>Animation Slider</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                    <div class="slider-btn">
                        <a href="#" class=" btn-outlined-orange text-orange text-hover-white mr-30">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
         
    </div>
         
    </div>
</div>
<!-- End Hero Slider -->

    <div class=" text-hover-blue p-2 fixed">
      <a class="chat-us" href="#"><img  src="images/comments.png" width="5%" alt="">Chat with Us...</a>
    </div>

            <!-- work section -->
    <section id="work" class="mt-5">
    <div class="Container">
      <h2 class="mb-2">WHY <span class="text-hover-blue text-orange">CYCLEPAY?</span></h2>
      <div class="row gap-2">
        <div class="col-12-xs col-6-md col-3-lg">
          <div class="card p-0">
            <h3 class="card-title m-1">INCORPORATED COMPANY</h3>
            <img class="card-img" src="images/article-of-incorporation.png" alt="">
            <p class="m-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, hic!</p>
          </div>
        </div>
        <div class="col-12-xs col-6-md col-3-lg">
          <div class="card p-0">
            <h3 class="card-title m-1">PROFESSIONAL SUPPORT</h3>
            <img class="card-img" src="images/security-purposes.png" alt="">
            <p class="m-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, hic!</p>
          </div>
        </div>
        <div class="col-12-xs col-6-md col-3-lg">
          <div class="card p-0">
            <h3 class="card-title m-1">COMODO VERIFIED</h3>
            <img class="card-img" src="images/tick.png" alt="">
            <p class="m-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, hic!</p>
          </div>
        </div>
        <div class="col-12-xs col-6-md col-3-lg">
          <div class="card p-0">
            <h3 class="card-title m-1">EXPERIENCED MANAGEMENT</h3>
            <img class="card-img" src="images/stakeholder.png" alt="">
            <p class="m-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, hic!</p>
          </div>
        </div>
      </div>
      <div class="row gap-2">
      <div class="col-12-xs col-6-md col-3-lg">
          <div class="card p-0">
            <h3 class="card-title m-1">DDOS PROOF</h3>
            <img class="card-img" src="images/searching.png" alt="">
            <p class="m-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, hic!</p>
          </div>
        </div>
        <div class="col-12-xs col-6-md col-3-lg">
          <div class="card p-0">
            <h3 class="card-title m-1">RELIABILITY</h3>
            <img class="card-img" src="images/technical-support.png" alt="">
            <p class="m-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, hic!</p>
          </div>
        </div>
        <div class="col-12-xs col-6-md col-3-lg">
          <div class="card p-0">
            <h3 class="card-title m-1">PROFITABILITY</h3>
            <img class="card-img" src="images/financial-profit.png" alt="">
            <p class="m-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, hic!</p>
          </div>
        </div>
        <div class="col-12-xs col-6-md col-3-lg">
          <div class="card p-0">
            <h3 class="card-title m-1">FLEXIBILITY</h3>
            <img class="card-img" src="images/agile.png" alt="">
            <p class="m-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, hic!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

    <div class="Container mt-5">
    <div class="row justify-start">
      <div class="col-12-xs col-5-md">
        <img src="images/laptop.svg" width="300px" alt="">
        <h2>
          <div class="font-xl text-hover-blue">CREATE AN ACCOUNT</div>
        </h2>
        <p class="text-gray mt-2 mb-3"> Create An Account With Us To Get Started</p>
        <a href="#Sign_up.html" class="btn-outlined-orange text-orange text-hover-white">Register</a>
      </div>
    </div>
  </div>
    <div class="Container mt-5">
    <div class="row justify-center">
      <div class="col-12-xs col-5-md">
        <img src="images/investment.png" width="200px" alt="">
        <h2>
          <div class="font-xl text-hover-blue">MAKE A DEPOSIT</div>
          
        </h2>
        <p class="text-gray mt-2 mb-3">Enrol By Making A Deposit Into Any Of Our Investment Plans</p>
        <a href="#work" class="btn-outlined-orange text-orange text-hover-white">Deposit</a>
      </div>
    </div>
  </div>

    <div class="Container mt-5">
    <div class="row justify-end">
      <div class="col-12-xs col-5-md">
        <img src="images/compensation.png" width="200px" alt="">
        <h2>
          <div class="font-xl text-hover-blue">MAKE A WITHDRAWAL</div>
        </h2>
        <p class="text-gray mt-2 mb-3">You Can Make A Withdrawal As Swift As Possible As Possible</p>
        <a href="#work" class="btn-outlined-orange text-orange text-hover-white">Withdraw</a>
      </div>
    </div>
  </div><br><br>

  <!-- SPONSORS SECTION -->

        <div class="sponsor_section bg-grey">
<div class="container">
<ul id="sponsor_carousel" class="sponsor_items owl-carousel">
<li class="sponsor_item">
<img  src="images/test-1.png" alt="sponsor-image">
</li>
<li class="sponsor_item">
<img src="images/test-2.png" alt="sponsor-image">
</li>
<li class="sponsor_item">
<img src="images/test-3.png" alt="sponsor-image">
</li>
<li class="sponsor_item">
<img src="images/test-4.png" alt="sponsor-image">
</li>
<li class="sponsor_item">
<img src="images/test-5.png" alt="sponsor-image">
</li>
<li class="sponsor_item">
<img src="images/test-6.png" alt="sponsor-image">
</li>
<li class="sponsor_item">
<img src="images/test-7.png" alt="sponsor-image">
</li>
<li class="sponsor_item">
<img src="images/test-8.png" alt="sponsor-image">
</li>
</ul>
</div>
</div><br>

<%- include("partials/footer"); -%> 

    
    


     
               

      <!-- JQUERY LINK -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
     <!-- CAROUSEL JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
        $('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    autoplay:true,
    autoplayingTimeout: 1000,
    animateIn: "fadeIn",
    animateOut: "fadeOut",
    responsive:{
        0:{
            items:1
        },
        600:{
            items:1
        },
        1000:{
            items:1
        },
        1400:{
            items: 1
        }
    }
})
    </script>

      <script type="text/javascript">
        $('.sponsor_section').owlCarousel({
    loop:true,
    margin:10,
    autoplay:true,
    autoplayingTimeout: 1000,
    // animateIn: "fadeIn",
    // animateOut: "fadeOut",
    responsive:{
        0:{
            sponsor_item:3
        },
        600:{
            sponsor_items:3
        },
        1000:{
            sponsor_items:3
        },
        1400:{
            sponsor_items: 5
        }
    }
})
    </script>
    <script type="text/javascript">
      function getYear(){
        const date = new Date();

        const year = date.getFullYear();
      }
    </script>
    <script>
    $('.menu-toggle').click(function() {
  
  $('.site-nav').toggleClass('site-nav--open', 500);
  $(this).toggleClass('open');
  
   })
   </script>
    



      




    
</body>
</html>