
     <%- include("partials/headerTwo"); -%> 
                  
                  
                 <title>cyclePay||Investment Plans</title>

        </head>

<body>

   <!-- navbar -->

                     <header>
<div class="container">

  <h1 class="logo">CyclePay</h1>
  
  <nav class="site-nav">
      <ul>
        <li><a class="text-dark" href="/"><i class=" site-nav--icon"></i>Home</a></li> 
        <li><a href="/about_us"><i class="site-nav--icon"></i>About</a></li>
        <li><a href="/investment_plans"><i class=" site-nav--icon"></i>Plans</a></li>
        <li><a href="/our_services"><i class="site-nav--icon"></i> Services</a></li>
        <li><a href="/policy"><i class=" site-nav--icon"></i>Policy</a></li>
        <li><a href="/login"><i class=" site-nav--icon"></i>Login</a></li>
        <li><a href="/sign_up"><i class=" site-nav--icon"></i>Register</a></li>
      </ul> 
  </nav>
  
  <div class="menu-toggle">
    <div class="hamburger"></div>
  </div>
  
</div>

</header>

                          <div class=" text-hover-blue p-2 fixed">
                        <a class="chat-us" href="#"><img  src="images/comments.png" width="5%" alt="">Chat with Us...</a>
                      </div>
                
     




        <div class="Container mt-3">
        <div class="row justify-center">
        <div class="col-12-xs col-5-md">
            <h2>
            <div class="font-xl text-hover-purple">INVESTMENT PLANS</div>
            
            </h2>
            </div>
            </div>
            </div>

            <!-- INVESTMENT DIV -->

             <section id="work" class="mt-5 investment-div">
                      <div class="Container">
                        
                        <div class="row gap-2">
                          <div class="col-12-xs col-6-md col-3-lg investment-single">
                            <div class="card p-2 investment-single">
                              <h3 class="card-title text-hover-purple text-orange m-1">BRONZE</h3>
                              <img class="bitcoin-img" src="images/bronze-medal.png" alt="">
                              <h4 class="m-1 ml-3">20%</h4>
                              <h5 class="m-1 ml-3">24hrs</h5>
                              <h5 class="m-1 ml-3">$20 — $500</h5>
                              <h5 class="m-1 ml-3">REFERRAL COMMISSION: 8%</h5>
                              <div class="slider-btn">
                              <a  href="#" class=" btn-outlined-orange text-orange text-hover-white">Learn More</a>
                              </div>

                            </div>
                          </div>
                          <div class="col-12-xs col-6-md col-3-lg investment-single">
                            <div class="card p-2 investment-single">
                              <h3 class="card-title text-hover-purple text-orange m-1">SILVER</h3>
                              <img class="bitcoin-img" src="images/medal.png" alt="">
                              <h4 class="m-1 ml-3">30%</h4>
                              <h5 class="m-1 ml-3">24hrs</h5>
                              <h5 class="m-1 ml-3">$100 — $1,000</h5>
                              <h5 class="m-1 ml-3">REFERRAL COMMISSION: 8%</h5>
                              <div class="slider-btn">
                             <a  href="#" class=" btn-outlined-orange text-orange text-hover-white">Learn More</a>
                            </div>
                            </div>
                          </div>
                          <div class="col-12-xs col-6-md col-3-lg investment-single">
                            <div class="card p-2 investment-single">
                              <h3 class="card-title text-hover-purple text-orange m-1">GOLD</h3>
                              <img class="bitcoin-img" src="images/bitcoin-logo.png" alt="">
                             
                              <h4 class="m-1 ml-3">50%</h4>
                              <h5 class="m-1 ml-3">24hrs</h5>
                              <h5 class="m-1 ml-3">$1000 — $10,000</h5>
                              <h5 class="m-1 ml-3">REFERRAL COMMISSION: 8%</h5>
                              <div class="slider-btn">
                              <a  href="#" class=" btn-outlined-orange text-orange text-hover-white">Learn More</a>
                             </div>
                              
                            </div>
                          </div>
                          <div class="col-12-xs col-6-md col-3-lg ">
                            <div class="card p-2 investment-single ">
                              <h3 class="card-title text-hover-purple text-orange m-1">DIAMOND</h3>
                              <img class="bitcoin-img" src="images/diamond.png" alt="">
                              
                              <h4 class="ml-3 m-1">80%</h4>
                              <h5 class="ml-3 ml-1">48hrs</h5>
                              <h5 class="ml-3 m-1">$5000 — $100,000</h5>
                              <h5 class="ml-3 m-1">REFERRAL COMMISSION: 8%</h5>
                              <div class="slider-btn"> <hr>
                             <a  href="#" class=" btn-outlined-orange text-orange text-hover-white">Learn More</a>
                             </div>
                            </div>
                          </div>
                        
                         
                        </div>
                      </div>
                    </section>

                     <!-- WHY CYCLEPAY? -->

                     <section id="work" class="mt-5 justify-center">
                      <div class="Container justify-center">
                        <h2 class="mb-2">WHY <span class="text-hover-blue text-orange">CYCLEPAY?</span></h2>
                        <div class="row gap-2">
                          <div class="col-12-xs col-6-md col-3-lg">
                            <div class="card p-0">
                              <h3 class="card-title m-1">INCORPORATED COMPANY</h3>
                              <img class="card-img" src="images/article-of-incorporation.png" alt="">
                              <p class="m-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, hic!</p>
                            </div>
                          </div>
                          <div class="col-12-xs col-6-md col-3-lg">
                            <div class="card p-0">
                              <h3 class="card-title m-1">PROFESSIONAL SUPPORT</h3>
                              <img class="card-img" src="images/security-purposes.png" alt="">
                              <p class="m-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, hic!</p>
                            </div>
                          </div>
                          <div class="col-12-xs col-6-md col-3-lg">
                            <div class="card p-0">
                              <h3 class="card-title m-1">COMODO VERIFIED</h3>
                              <img class="card-img" src="images/tick.png" alt="">
                              <p class="m-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, hic!</p>
                            </div>
                          </div>
                          <div class="col-12-xs col-6-md col-3-lg">
                            <div class="card p-0">
                              <h3 class="card-title m-1">EXPERIENCED MANAGEMENT</h3>
                              <img class="card-img" src="images/stakeholder.png" alt="">
                              <p class="m-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, hic!</p>
                            </div>
                          </div>
                        </div>
                        <div class="row gap-2">
                        <div class="col-12-xs col-6-md col-3-lg">
                            <div class="card p-0">
                              <h3 class="card-title m-1">DDOS PROOF</h3>
                              <img class="card-img" src="images/searching.png" alt="">
                              <p class="m-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, hic!</p>
                            </div>
                          </div>
                          <div class="col-12-xs col-6-md col-3-lg">
                            <div class="card p-0">
                              <h3 class="card-title m-1">RELIABILITY</h3>
                              <img class="card-img" src="images/technical-support.png" alt="">
                              <p class="m-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, hic!</p>
                            </div>
                          </div>
                          <div class="col-12-xs col-6-md col-3-lg">
                            <div class="card p-0">
                              <h3 class="card-title m-1">PROFITABILITY</h3>
                              <img class="card-img" src="images/financial-profit.png" alt="">
                              <p class="m-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, hic!</p>
                            </div>
                          </div>
                          <div class="col-12-xs col-6-md col-3-lg">
                            <div class="card p-0">
                              <h3 class="card-title m-1">FLEXIBILITY</h3>
                              <img class="card-img" src="images/agile.png" alt="">
                              <p class="m-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, hic!</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>

                       
                                  <!-- CAROUSEL-SECTION -->

                                  
                  <div id="home" class="hero-slider owl-carousel owl-theme">
                      <div class="single-hs-item">
                          <div class="d-table">
                              <div class="d-tablecell">
                                  <div class="hero-text">
                                      <h2 class="text-white">Johnson Ashley</h2>
                                      <p>Being an investor with Cyclepay has been great. Support is always responsive and helpful, and best of all I've been able to help many new Bitcoin users get some of their first Bitcoin.
                  </p>
                                    
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="single-hs-item">
                          <div class="d-table">
                              <div class="d-tablecell">
                                  <div class="hero-text">
                                      <h2 class="text-white">Elizabeth Scott</h2>
                                      <p>Cyclepay is my first Bitcoin experience. Started as your regular newbie first time BTC buyer - asking legacy traders what is a wallet and why I need to follow verification steps. Sold over 400+ Bitcoin to date and helped over 800 newbies like myself to dive in to this new currency.
                  </p>
                                    
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="single-hs-item">
                          <div class="d-table">
                              <div class="d-tablecell">
                                  <div class="hero-text">
                                      <h2 class="text-white">Anna Summer</h2>
                                      <p>I have super slow connectivity and this is a super patient seller. Thank you so much and I appreciate your help I look forward to working with you again!
                                    </p>
                                      
                                  </div>
                              </div>
                          </div>
                          </div>
                          <div class="single-hs-item">
                          <div class="d-table">
                              <div class="d-tablecell">
                                  <div class="hero-text">
                                      <h2 class="text-white">Maurice Cooper</h2>
                                      <p>Super patient and gets you through step by step. Was my first time purchasing, and I would highly recommend this platform to any newbies like me.
                                    </p>
                                      
                                  </div>
                              </div>
                          </div>
                          
                      </div>
                      </div>
                      </div>

                      <!-- SPONSORS SECTION -->

                          <div class="sponsor_section bg-grey p-2">
                  <div class="container">
                  <ul id="sponsor_carousel" class="sponsor_items owl-carousel">
                  <li class="sponsor_item">
                  <img  src="images/test-1.png" alt="sponsor-image">
                  </li>
                  <li class="sponsor_item">
                  <img src="images/test-2.png" alt="sponsor-image">
                  </li>
                  <li class="sponsor_item">
                  <img src="images/test-3.png" alt="sponsor-image">
                  </li>
                  <li class="sponsor_item">
                  <img src="images/test-4.png" alt="sponsor-image">
                  </li>
                  <li class="sponsor_item">
                  <img src="images/test-5.png" alt="sponsor-image">
                  </li>
                  <li class="sponsor_item">
                  <img src="images/test-6.png" alt="sponsor-image">
                  </li>
                  <li class="sponsor_item">
                  <img src="images/test-7.png" alt="sponsor-image">
                  </li>
                  <li class="sponsor_item">
                  <img src="images/test-8.png" alt="sponsor-image">
                  </li>
                  </ul>
                  </div>
                  </div><br>

                  <%- include("partials/footer"); -%> 
                   







        <!-- JQUERY LINK -->
                      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                      <!-- CAROUSEL JS -->
                      <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                      <script type="text/javascript">
                          $('.owl-carousel').owlCarousel({
                      loop:true,
                      margin:5,
                      autoplay:true,
                      autoplayingTimeout: 1000,
                      responsive:{
                          0:{
                              items:3
                          },
                          600:{
                              items:3
                          },
                          1000:{
                              items:3
                          },
                          1400:{
                              items: 3
                          }
                      }
                  })
                      </script>

                      <script type="text/javascript">
                          $('.sponsor_section').owlCarousel({
                      loop:true,
                      margin:10,
                      autoplay:true,
                      autoplayingTimeout: 1000,
                      // animateIn: "fadeIn",
                      // animateOut: "fadeOut",
                      responsive:{
                          0:{
                              sponsor_item:3
                          },
                          600:{
                              sponsor_items:3
                          },
                          1000:{
                              sponsor_items:5
                          },
                          1400:{
                              sponsor_items: 5
                          }
                      }
                  })

                  </script>

                  
                  <script>
    $('.menu-toggle').click(function() {
  
  $('.site-nav').toggleClass('site-nav--open', 500);
  $(this).toggleClass('open');
  
   })
   </script>
    